@import "vars"

@media (max-width: 1277px)
  .b-popup
    right: 6vw
  .section-reviews
    background-position: top right
    -webkit-background-size: 80%
    background-size: 80%
@media (max-width: 1213px)
  .b-popup
    bottom: 0
    top: 50px
    z-index: 99
    right: 0
    left: 24%
  .section-about
    .box-flex
      .left-block
        img
          max-width: -webkit-fill-available
          margin-left: 0
@media (max-width: 1049px)  
  .swiper-modal 
    .col-second
      padding: 10px 0 10px 40px        
    .col-inner:first-child    
      min-width: 270px 
@media (max-width: 920px)
  .header
    padding: 0 20px 20px 20px
    .headline
      margin-top: 30px
  .navigation
    display: none
  .site-nav
    margin: 0
    padding: 0
    z-index: 9999
    position: relative
    ul
      list-style-type: none
      padding: 0
      margin: 0
      display: none
      &.opening
        display: block
    li
      border-bottom: 1px solid black
      &:last-child
        border-bottom: none
    a
      color: #EBEBD3
      background: #CA9FE2
      display: block
      padding: 1.5em 4em 1.5em 3em
      text-transform: uppercase
      text-decoration: none
      &:hover, &:focus
        background: $accent
  .site-nav
    display: block
    .shadow-enabled
      box-shadow: 0 0 0 9999px rgba(0,0,0, 0.85)
      transition: box-shadow .3s ease
    .logo_mnu
      position: relative
      left: 0
      top: 0
      right: 0
      bottom: 0
    .opening
      position: absolute
      left: 0
      top: 0
      width: 100%
    .site-nav--icon
      font-size: 1.4em
      margin-right: 1em
      width: 1.1em
      text-align: right
      color: rgba(255, 255, 255, 0.4)
    .menu-toggle
      cursor: pointer
      line-height: 1
      padding: 10px
      position: relative
      display: block
      text-align: right
      z-index: 999
      &.open
        position: absolute
        z-index: 9999
        top: -10px
        right: 0
        padding: 10px
    .hamburger
      content: ''
      display: inline-block
      background: #EBEBD3
      height: 3px
      width: 2em
      border-radius: 3px
      -webkit-transition: all ease-in-out 350ms
      transition: all ease-in-out 350ms
      &::before, &::after
        content: ''
        display: block
        background: #EBEBD3
        height: 3px
        width: 2em
        border-radius: 3px
        -webkit-transition: all ease-in-out 350ms
        transition: all ease-in-out 350ms
      &::before
        -webkit-transform: translateY(-7px)
        transform: translateY(-7px)
      &::after
        -webkit-transform: translateY(4px)
        transform: translateY(4px)

    .open .hamburger
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
      &::before
        display: none
      &::after
        -webkit-transform: translateY(-1px) rotate(-90deg)
        transform: translateY(-1px) rotate(-90deg)
      .menu-toggle
        display: none
      nav
        ul
          display: flex
          flex-direction: row
          justify-content: flex-end
        li
          flex: 1 1 auto
          border: none
          a
            padding: 1.5em 1.3em 1.5em 1.3em
            margin: 0
            border: none
            background-color: #f04343
        a
          &:hover, &:focus
            background-color: rgba(255, 255, 255, 0.1)
  .section-about
    padding: 0 20px 20px 20px
    .wrap-h2
      text-align: center
      margin-bottom: 0
      .top-h2
        margin-bottom: 0
    .box-flex
      flex-direction: column
      .left-block, .right-block
        width: 100%
        text-align: center
        img
          margin: 0 auto
      .left-block
        margin-bottom: 20px
      .right-block
        padding: 0
        p
          max-width: -webkit-fill-available
  .section-works
    padding: 20px
    .wrap-h2
      text-align: center
    .wrap-text_top
      justify-content: center
      .p-w_50
        width: 100%
        display: block
        text-align: center
        margin-bottom: 20px
    .woks-wrap_img
      .row-img_2, .row-img_3
        flex-direction: column
        justify-content: center
        align-items: center
        margin: 0
        .img-container_1, .img-container_2
          margin: 0 0 20px 0
        .img-container_1
          max-width: 320px
          height: 200px
          width: auto
        .img-container_2
          width: auto
          max-width: 237px
          height: 179px
  .section-sale
    padding: 20px
    height: auto
    .wrapper-flex
      flex-direction: column
      align-items: center
    .sale-cube
      position: relative
      top: 0
      right: 0
    .girls-bg
      position: relative
      top: 0
      right: 0
      margin-bottom: 20px
  .section-reviews, .section-secvices
    padding: 20px

  .swiper-container
    width: 100%
    height: 100%
    .item 
      margin: 0 auto
  .gallery-thumbs
    .swiper-wrapper
      padding:  0 85px 
  .swiper-nav 
    .swiper-button-next   
      right: 10px
    .swiper-button-prev
      left: 7px  
  .services-modal
    flex-direction: column
  .col
    width: 100%    
    height: 0
  .swiper-modal    
    .col-second
      height: 100%
      padding: 10px
  .row
    justify-content: space-around
  .title
    width: 100%
    text-align: center
    display: block
    max-width: 100%   
  .section-send    
    padding: 20px 
    .wrapper-flex
      flex-direction: column
      align-items: center
      justify-content: center
    .left-side
      margin-bottom: 20px 
  .wrapper-flex
    position: relative
    .girls-bg
      object-fit: cover
      width: 100%
      height: 100%     
@media (max-width: 630px)
  .b-popup
    bottom: 0
    top: 50px
    z-index: 99
    right: 0
    left: 24%  
    width: 330px
    height: 557px
  .b-popup .b-popup_content
    padding: 15px    
  .footer-wrap
    flex-direction: column
    .logo, .copyrite
      margin-bottom: 10px  
  .section-reviews, .section-works
    .svg6    
      width: 141px
      right: 100px
      left: auto
  .wrap-text_top 
    .p-w_50        
      width: 100%
@media (max-width: 499px)
  .b-popup
    left: 0
    width: 256px
    height: 592px
    margin: 0 auto
  .btn, .btn-popup
    width: 150px
    height: 45px
    line-height: 1
    font-size: 14px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    margin: 0 auto

  .header
    .headline
      .h1
        font-size: 25px
        line-height: 1.6

  .section-about
    .box-flex
      .right-block
        p
          font-size: 14px
  .wrap-img__slider
    height: 100%
  .swiper-container 
    .item          
      height: 245px
      width: 245px
      .services-item_btn
        width: 140px
        height: 41px
        font-size: 20px
        right: -59px
        margin-top: -20px
  .section-send 
    .wrapper-flex 
      .send-me  
        padding: 20px 10px 20px 10px  
        width: 100%
        .input-email, .input-name, .input-number
          margin-bottom: 20px
      .left-side 
        .work-time, .descr   
          padding: 18px 30px 
          width: 100%
          margin: 0 auto
        .descr
          margin-bottom: 20px  
  .section-send .wrapper-flex .send-me .input-email, .section-send .wrapper-flex .send-me .input-number
    width: 100%
  .col-inner
    font-size: 15px
  .swiper-modal .col-inner:first-child
    min-width: 156px  
  // .col-dn
    // display: none 
  .wrap-img__absolute, .wrap-modal__img--top, .wrap-modal__img, .wrap-img__absolute
    display: none
  .section-send .wrapper-flex .left-side
    width: 100%
@media (max-width: 340px)
  .section-reviews
    .owl-carousel
      width: 100%
  .swiper-container .item .services-item_btn   
    width: 103px
    height: 35px
    font-size: 20px
    right: -23px
    margin-top: -15px