@import "vars"
@import "fonts"
// @import "libs"



::selection
  background-color: $accent
  color: #fff


*
  box-sizing: border-box


body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  background-color: #ffffff
  overflow-x: hidden
  color: $text
  margin: 0

  input, textarea
    border: #666 1px solid
    outline: none

    &:focus:required:invalid
      border-color: red

    &:required:valid
      border-color: green
.wrap-img
  overflow: hidden
  vertical-align: middle
  position: relative
  line-height: 1
  width: 100%
  img
    object-fit: cover
    width: 100%
    height: 100%
    vertical-align: middle
ul
  padding: 0
  margin: 0

  li
    list-style: none

    a
      text-decoration: none
      color: $text

      &:hover
        color: $text
        text-decoration: none

      &:active
        color: $text
        text-decoration: none

  &.list-inline
    & > li
      display: inline-block

h1, h2, h3, h4, h5, h6
  margin-top: 0


hr
  border: 0
  display: block
  border-top: 1px solid $accent
  height: 1px
  margin-top: 1rem
  margin-bottom: 1rem
  clear: both

label
  border-radius: 0

button, input, select, textarea, a
  font: $default-font
  font-size: 1rem

  &:focus,
  &:active
    outline: none

input, textarea
  outline: none
  font: $default-font
  font-size: 1rem
  border-radius: 0

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus
    background: inherit
    transition: background-color 5000s ease-in-out 0s

  &::placeholder
    font: $default-font
    font-size: 1rem
    color: #000

textarea
  resize: none

input
  appearance: none

input[type='number']
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
  -moz-appearance: textfield

.img-responsive
  display: block
  max-width: 100%
  height: auto

  &.img-width
    width: 100%

.container
  margin: 0 auto
  width: 100%
  max-width: 960px
  position: relative

.text-center
  text-align: center

b, .strong
  font-weight: bold

.btn
  background-color: $blue
  width: 283px
  height: 64px
  text-align: center
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  text-decoration: none
  font-family: Superclarendon
  text-transform: uppercase
  color: #fff
  font-size: 18px

.wrap-h2
  display: block
  text-align: left

  .top-h2
    font-size: 36px
    font-weight: bold
    margin-bottom: 0
    font-family: SuperclarendonBold, bold

.wrap-text_top
  display: flex
  flex-direction: row
  justify-content: flex-end

  .p-w_50
    width: 45%
    display: inline-block
    font-size: 24px
    line-height: 32px
    font-family: PalatinolinotypeRegular
    padding: 0
    margin: 0
    margin-bottom: 36px

.site-nav
  display: none

.logo
  text-align: center
  display: inline-block
  font-size: 18px
  line-height: 23px
  text-transform: none
  font-family: SuperclarendonBold, bold
  text-decoration: none
  color: #fff

.header
  background: url("../img/header-bg.jpg") 0 -40px no-repeat
  -webkit-background-size: cover
  background-size: cover
  position: relative
  padding: 0 0 90px 0

  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background-color: rgba(202, 159, 226, 0.35)

  .navigation
    padding: 15px 0

    ul
      display: flex
      flex-direction: row
      align-items: flex-start
      justify-content: space-between

      li
        vertical-align: top
        line-height: 1

        a
          color: #fff
          line-height: 1
          font-family: SuperclarendonBold
          font-size: 14px
          font-weight: 900
          text-transform: uppercase



          span
            font-size: 40px
            font-family: SuperclarendonRegular
            margin-bottom: 10px
            display: inline-block
            line-height: 1

  .headline
    margin-top: 160px
    max-width: 490px

    .h1
      color: #fff
      font-size: 54px
      line-height: 68px
      font-family: SuperclarendonRegular

  
.section-about
  padding: 48px 0 162px 0
  position: relative
  overflow: hidden

  .svg1
    position: absolute
    bottom: 0
    left: -30px
    width: 200px
    z-index: -1
    opacity: .3

  .svg2
    position: absolute
    bottom: -129px
    left: 480px
    width: 200px
    z-index: -1
    opacity: .5

  .svg3
    position: absolute
    bottom: 201px
    left: 1080px
    width: 241px
    z-index: -1
    opacity: .4
    transform: rotate(-23deg)

  .svg4
    position: absolute
    top: 70px
    right: -53px
    width: 241px
    z-index: -1
    transform: rotate(35deg)

  .svg5
    position: absolute
    bottom: 0px
    right: -12px
    width: 241px
    z-index: -1
    transform: rotate(1deg)
  .wrap-h2
    margin-bottom: 91px


  .box-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    .left-block, .right-block
      width: 50%

    .left-block
      img
        max-width: 526px
        border: 5px solid $accent
        margin-left: -120px

    .right-block
      padding-left: 30px

      h4
        font-size: 24px
        font-family: PalatinolinotypeRegular

      p
        font-size: 20px
        line-height: 27px
        font-family: PalatinolinotypeRegular
        max-width: 410px

.section-secvices
  padding: 41px 0 46px 0
  color: #fff
  background-color: $accent
  position: relative

  .wrap-h2
    margin-bottom: 0

.swiper-container
  width: 100%
  height: 100%
  .item
    height: 345px
    max-width: 345px
    position: relative
    
    
    .services-item_img
      background-color: purple
      height: 340px

    .services-item_btn
      box-shadow: 0 2px 4px 0 #F5EF7B
      width: 181px
      height: 58px
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      top: 50%
      margin-top: -29px
      right: -91px
      font-size: 27px
      text-decoration: none
      background-color: #F5EF7B
      position: absolute
      font-family: Superclarendon
      color: #fff


  .item-2
    .services-item_btn
      background-color: $blue
      box-shadow: 0 2px 4px 0 #7EDCDC
.swiper-nav
  position: absolute
  width: 100%
  .swiper-button-next
    right: 110px
    left: auto
  .swiper-button-prev
    left: 0
    right: auto  
  .swiper-button-prev, .swiper-button-next
    background-image: none
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    outline: 0
    top: 17px
.swiper
  position: relative

.gallery-thumbs
  width: 79%
  margin-right: 16.5%
  .swiper-slide
    cursor: pointer
    font-size: 20px
    width: auto
.gallery-top    
  .swiper-slide
    transition: border .3s ease
    &:hover
      .wrap-img__slider
        transition: border .3s ease
        border: 6px solid #f5ef7b
    &:nth-child(2n)    
      &:hover
        .wrap-img__slider
          transition: border .3s ease
          border: 6px solid #7edcdc
.gallery-top
  margin-bottom: 50px  

.swiper-modal
  position: absolute
  width: 100%
  height: 100%
  z-index: 11  
  top: 0
  left: 0
  opacity: 0
  z-index: -1
  &.open-modal
    opacity: 1
    z-index: 99
.services-modal
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
.col
  width: 50%
  height: 100%
  position: relative
  background-size: cover
  background-position: top center
.wrap-img__absolute
  width: 403px
  position: absolute
  height: auto
  right: 0
  top: 0
.wrap-modal__img--top
  width: 100%
  height: 430px
  position: relative
.wrap-modal__img
  width: 70%
  height: 250px 
  position: relative
.swiper-nav1
  position: absolute
  top: 0
  left: 0
  z-index: 99
  display: flex
  flex-direction: row
  justify-content: flex-start
  .swiper-button-prev1, .swiper-button-next1, .close-btn
    background-color: #CA9FE2
    border: 1px solid #FFFFFF
    width: 60px
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    i
      font-size: 26px
.close-btn
  position: relative
  right: 0
  top: 0
  line-height: 1
  width: 37px
  text-align: center
  padding: 12px
  height: 4px
  &:before
    content: ''
    display: inline-block
    width: 40px
    height: 2px
    background-color: #fff
    transform: rotate(45deg)
    position: absolute
    top: 23px
    right: 0
    bottom: 0
    left: 7px
  &:after
    content: ''
    display: inline-block
    width: 40px
    position: absolute
    height: 2px
    background-color: #fff
    transform: rotate(135deg)
    top: 23px
    right: 0
    bottom: 0
    left: 7px
.wrap-img__slider
  height: 305px

.ttu
  text-transform: uppercase
.col-second
  display: flex
  flex-direction: column
  padding: 50px 0 50px 70px
  background-color: #FAC4C8
  height: 680px
  justify-content: center
.row
  display: flex 
  justify-content: flex-start
  color: #000
.title
  text-align: center
  width: 100%
  color: #000  
  font-size: 24px
  font-weight: bold
  font-family: "SuperclarendonBold"
  display: inline-block
  max-width: 450px
.price
    font-size: 14px
    font-family: "PalatinolinotypeRegular"
.col-inner
  color: #000 
  text-align: left 
  font-size: 24px 
  font-family: "PalatinolinotypeRegular"
  &:first-child
    min-width: 350px 


.section-works
  padding: 55px 0 55px 0
  position: relative
  overflov: hidden

  .svg1
    position: absolute
    bottom: 0
    left: -30px
    width: 200px
    z-index: -1
    opacity: .3

  .svg5
    position: absolute
    top: 200px
    left: 20px
    width: 200px
    z-index: -1
    opacity: 1
    transform: rotate(340deg)

  .svg6
    position: absolute
    bottom: 0px
    right: -12px
    width: 241px
    z-index: -1
    transform: rotate(1deg)
  

  .woks-wrap_img
    .row-img_2, .row-img_3
      display: flex
      flex-direction: row
      align-items: flex-start

      .img-container_1
        width: 37%
        height: 222px
        margin-right: 60px
        overflow: hidden

        &:last-child
          margin-right: 0

      .img-container_2
        width: 27%
        height: 193px
        overflow: hidden

      img
        object-fit: cover
        object-position: 0 -35px

    .row-img_2
      justify-content: center
      margin-bottom: 27px

    .row-img_3
      justify-content: space-between

  .see-all
    width: 184px
    height: 140px
    padding: 13px
    position: absolute
    top: 50%
    right: 50%
    background-color: #fff
    text-align: center
    margin-right: -92px
    font-family: PalatinolinotypeRegular

    .works-btn
      background-color: $accent
      width: 100%
      height: 36px

    p
      margin: 0
      padding: 0

    .link-see_all
      margin-bottom: 21px
      display: block
      font-family: PalatinolinotypeRegular
      font-weight: 900

.section-sale
  background-image: url("../img/girls2.png")
  background-repeat: no-repeat
  -webkit-background-size: cover
  background-size: cover
  height: 340px
  position: relative
  padding: 20px 0

  .wrapper-flex
    display: flex
    flex-direction: row

  .girls-bg
    position: absolute
    height: 320px

  .sale-cube
    text-align: center
    color: #fff
    position: absolute
    right: 50px
    top: 24px
    width: 324px
    height: 271px
    border: 6px solid #7EDCDC
    padding: 30px
    line-height: 1.2
    font-family: PalatinolinotypeRegular

    &:before
      content: ''
      border: 6px solid #F5EF7B
      display: inline-block
      width: 300px
      height: 259px
      position: absolute
      top: 0
      left: 0

    .fz-30
      font-size: 30px
      margin: 0

    .fz-50
      font-size: 50px
      margin: 0
      font-weight: 900

    .sale-btn
      margin: 0 auto
      height: 50px
      width: 100%
      z-index: 2
      position: relative
      cursor: pointer
      
.section-reviews
  padding: 47px 0 109px 0
  background-image: url("../img/reviews-bg.jpg")
  -webkit-background-size: 1200px
  background-size: 1200px
  background-repeat: no-repeat
  background-position: right
  position: relative
  .svg5
    position: absolute
    top: 200px
    left: 20px
    width: 200px
    z-index: -1
    opacity: 1
    transform: rotate(340deg)
    width: 300px
  .svg6
    position: absolute
    bottom: 100px
    left: 650px
    width: 241px
    z-index: 0
    transform: rotate(1deg)
  .svg4
    position: absolute
    top: 17px
    left: -82px
    width: 194px
    z-index: -1
    transform: rotate(35deg)


  .owl-carousel
    width: 340px

    .owl-nav
      position: absolute
      top: 0
      display: flex
      flex-direction: column-reverse

      .owl-prev
        display: block
        width: 43px
        height: 43px
        background-color: $accent
        color: #fff

      .owl-next
        display: block
        width: 43px
        height: 43px
        background-color: $accent
        color: #ffffff
      .owl-next, .owl-prev
        font-size: 30px
        line-height: 1
    .item
      width: 100%
      font-size: 18px
      padding-top: 100px

      .client-name
        position: absolute
        top: 0
        left: 65px

        p
          margin: 0

          &:first-child
            font-weight: 900

.section-send
  padding: 90px 0 230px
  background-image: url("../img/send-bg.jpg")
  -webkit-background-size: cover
  background-size: cover
  background-repeat: no-repeat
  font-family: PalatinolinotypeRegular

  .wrapper-flex
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between

    .left-side
      width: 358px

      .descr
        width: 358px
        background-color: rgba(255, 255, 255, 0.9)
        border: 4px solid #F5EF7B
        padding: 28px 50px
        font-size: 20px
        margin-bottom: 20px
        font-family: PalatinolinotypeRegular

        p
          margin: 0 0 15px 0

          &:first-child
            font-weight: 900

        a
          display: block
          text-decoration: none
          color: #000
          margin-bottom: 20px

          &:last-child
            margin-bottom: 0

          &:hover
            text-decoration: none
            color: #000

      .work-time
        border: 4px solid #7EDCDC
        width: 358px
        padding: 28px 50px
        font-size: 20px
        background-color: rgba(255, 255, 255, 0.9)

        p
          margin: 0

          &:first-child
            font-weight: 900

          span
            margin-right: 30px

            &:last-child
              margin-right: 0

    .send-me
      background-color: rgba(255, 255, 255, 0.9)
      width: 410px
      border: 5px solid #CA9FE2
      padding: 33px 25px 47px 34px
      text-align: center
      font-family: PalatinolinotypeRegular

      p
        font-weight: 900
        font-size: 20px
        margin: 0 0 18px 0

      input
        color: #9B9B9B
        border: 1px solid #CA9FE2
        font-size: 14px
        font-family: PalatinolinotypeRegular
        padding-left: 10px
        &::placeholder
          color: #9B9B9B
          font-family: PalatinolinotypeRegular

      .input-name
        display: block
        margin-bottom: 31px
        height: 37px

      .input-email
        display: inline-block
        margin: 0 30px 43px 0

      .input-number
        display: inline-block

      .textarea-mess
        display: block
        margin-bottom: 36px
        border: 1px solid #CA9FE2
        padding-left: 10px
        font-size: 14px
        color: #9B9B9B
        height: 80px
        &::placeholder
          color: #9B9B9B
          font-family: PalatinolinotypeRegular
          font-size: 14px
      .input-name, .textarea-mess
        width: 100%

      .input-email, .input-number
        width: 45%
        height: 37px

      .send-btn
        margin: 0 auto
        height: 43px
        width: 211px
.cont1 
  background: #CA9FE2

.cont2 
  background: #f5ef7b

.cont3 
  background: #7edcdc

.footer
  background-color: $accent

.js-click
  &.open-modal
    display: block
.b-popup
    width: 460px
    height: 630px
    position: absolute
    background-color: #fff
    bottom: 40px
    right: 16vw
    display: none

    .b-popup_close
      position: absolute
      right: 5px
      top: 20px
      line-height: 1
      width: 37px
      padding: 12px
      height: 4px
      cursor: pointer

      &:before
        content: ''
        display: inline-block
        width: 40px
        height: 2px
        background-color: black
        transform: rotate(45deg)
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

      &:after
        content: ''
        display: inline-block
        width: 40px
        position: absolute
        height: 2px
        background-color: black
        transform: rotate(135deg)
        top: 0
        right: 0
        bottom: 0
        left: 0

    .b-popup_content
      margin-top: 40px
      padding: 40px

      h4
        font-size: 22px
        text-align: center
        margin-bottom: 40px
        font-family: "SuperclarendonRegular"

      p
        color: #999
        font-size: 14px
        line-height: 1.5


      form
        .selectize
          margin-bottom: 20px

          input
            display: none

          #text
            position: absolute
            display: block
            top: 0
            padding-left: 20px
            font-family: "SuperclarendonRegular"
            font-size: 14px

          .select
            display: block
            width: 100%
            height: 34px
            line-height: 30px
            position: relative

            input[name="list"]
              &:not(:checked) ~ #text
                color: black
                background: transparent

              &:checked ~ #text
                background: transparent
                color: transparent
                z-index: 2

          #select:disabled ~ .items #text
            background: #eee

          .items
            display: block
            min-height: 35px
            position: absolute
            border: 1px solid #000
            overflow: hidden
            width: 100%
            cursor: pointer

          #select:not(:checked) ~ .items
            height: 35px

          .items label
            border-top: 1px solid #000
            display: none
            padding-left: 20px
            background: white

            &:hover
              background: #eee
              cursor: pointer

          #select:checked ~ .items
            padding-top: 30px

            label
              display: block
              font-family: auto

          .items input:checked + label
            display: block !important
            border: none
            background: transparent
            font-family: auto

          #select:checked ~ .bg
            position: fixed
            top: 0
            left: 0
            bottom: 0
            right: 0
            z-index: 0

        input
          width: 100%
          height: 35px
          margin-bottom: 12px
          padding-left: 20px
          font-size: 13px

          &::placeholder
            font-size: 14px

        textarea
          width: 100%
          height: 90px
          padding-left: 20px
          padding-top: 10px
          margin-bottom: 25px
          font-size: 13px

          &::placeholder
            font-size: 14px

      .btn-popup
        height: 35px
        line-height: 35px
        display: block
        margin: 0 auto
        text-transform: inherit
        border: none
.js-click
  &.open-modal
    display: block
.section-sale
  .b-popup
    bottom: 0
    top: -100px
    z-index: 21
    box-shadow: 0px 4px 45px -8px rgba(0,0,0,0.75)    
.footer-wrap
  display: flex
  flex-direction: 
  justify-content: space-between
  align-items: center
  color: #fff
  .logo
    font-size: 14px
    line-height: 1.3
.copyrite
  font-size: 14px  
.fz-20
  font-size: 35px  
.ul
  display: flex
  .li-icon   
    margin-right: 35px
    &:last-child
      margin-right: 0
    a 
      color: #fff
      font-size: 46px
@import "media"
// Always at the end
